@font-face {
   font-family: 'Cera Pro Bold';
   font-display: swap;
   src: url('file:///C:/Users/wilza/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-05-21_170408/fonts/Cera%20Pro%20Bold/font.ttf');
}
