@font-face {
   font-family: 'Cera Pro Bold';
   font-display: swap;
<<<<<<< HEAD
   src: url('file:///C:/Users/wilza/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-05-21_170408/fonts/Cera%20Pro%20Bold/font.ttf');
=======
   src: url('file:///G:/Projects/GitKraken/marchalamarcha/v2/web/fonts/Cera%20Pro%20Bold/font.ttf');
>>>>>>> gh-pages
}
